.nonPresent {
    background-color: red;
}

/* Reset des styles par défaut */
body, h1, h2, table {
    margin: 0;
    padding: 0;
}

/* Style global */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #ff0000; /* Couleur des pompiers */
}

h2:before {
    /* Ajout d'une ligne de séparation */
    content: "";
    display: block;
    border-top: 3px solid blue;
    margin-bottom: 20px;

}

h2 {
    font-size: 20px;
    margin-top: 30px;
    width: 100%;
    color: blue;
}

table {
    width: 75%;
    border-collapse: collapse;
    margin-top: 10px;
}

table, th, td {
    border: 1px solid #ddd;
}

table tr th {
    background-color: lightblue;

}

/* Si survole une case d'un table qui n'est pas th, alors mettre un fond grisé */
table tr:hover td:not(th) {
    background-color: gray;
}

th, td {
    padding: 10px;
    text-align: left;
    width: 50%; /* Définition d'une largeur fixe pour les cellules */
}

th {
    background-color: #f2f2f2;
}

form {
    margin-top: 20px;
}

label {
    font-weight: bold;
}

input[type="text"], input[type="submit"] {
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

input[type="submit"] {
    background-color: green; /* Couleur des pompiers */
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
}

input[type="submit"]:hover {
    background-color: greenyellow; /* Légère variation de la couleur des pompiers au survol */
    transition: 0.3s;
}

p {
    margin-top: 10px;
    font-size: 14px;
}

p#pres {
    margin-top: 20px;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.5;
}

/* Responsive */
@media screen and (max-width: 768px) {
    h1 {
        font-size: 20px;
    }
    
    h2 {
        font-size: 18px;
    }
    
    table {
        font-size: 14px;
    }
}
